section.youtube#youtube
  .flex.flex--space-around
    .col-1
      .video-strip
      .flex-video <iframe src="https://www.youtube.com/embed/videoseries?list=PLdj_axw7HNUaHBgXFOE9v4zhn2bRBJpd5&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              
    .col-1.order-first
      p.home-lead.outdented ...learning how to be a nerd online...
      a(href="https://www.youtube.com/playlist?list=PLdj_axw7HNUaHBgXFOE9v4zhn2bRBJpd5" target="_blank").home-cta Go to playlist
