.cv-container {
    color: #232325;
    margin: auto;
    margin-top: -50px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #F5F5F5;
    font-family: 'EB Garamond', serif;
}
.underline {
    width: 50%;
    border-color: white;
}
.separator {
    width: 100%;
    border-color: white;
}
.cv-container> div {
    margin: auto;
    font-size: 19px;
}
p {
    line-height: 160%;
}
.title {
    text-align: center;
    font-family: 'Marck Script', cursive;
    color: #232325;
}
.name {
    width: 270px;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 0;
    border-bottom: 2px solid black;
    height: 40px;
    margin-top: 50px;
    font-family: 'EB Garamond', serif;

}
.personel {
    width: 100px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-top: none;
    margin: auto;
    padding: 6px;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    box-shadow: 1px 1px 5px;
    animation: hint_pull 4s infinite;
}
@keyframes hint_pull {
    0% {
        transform: scaleY(1);
    }
    20% {
        transform: scaleY(1.1);
    }
    30% {
        transform: scaleY(1);
    }
}
.personel:hover {
    animation: hanging 2s forwards;
    cursor: pointer;
}
@keyframes hanging {
    0% {
        transform: rotateX(0);
    }
    20% {
        transform: rotateX(-40deg);
    }
    40% {
        transform: rotateX(30deg);
    }
    60% {
        transform: rotateX(-20deg);
    }
    80% {
        transform: rotateX(10deg);
    }
    100% {
        transform: rotateX(0);
    }
}

.cv-body> div {
    margin-top: 30px;
}
.profile, .objective {
    text-align: center;
}
.profile {
    margin-top: 100px;
}
.summary {
    margin: auto;
    text-align: center;
    font-weight: bold;
}
table {
    margin-top: 10px;
}
td {
    padding-left: 10px;
}
.date {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.skills-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section2 {
    margin-left: -300px;
}
.personel-info {
    margin-top: -2px;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    border: 1px solid #333;
    height: 0;
    font-weight: bold;
    overflow: hidden;
    background-image: url("../img/paper.jpg");
}
.personel-info.visible {
    visibility: visible;
    box-shadow: 1px 1px 5px;
    animation: pull_and_release 0.5s forwards;
}
@keyframes pull_and_release {
    0% {
        height: 0px;
    }
    20% {
        height: 350px;
    }
    40% {
        height: 310px;
    }
    60% {
        height: 340px;
    }
    80% {
        height: 310px;
    }
    90% {
        height: 320px;
    }
    100% {
        height: 330px;
    }
}
.hideme {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translateX(-1300px);
}
.in-view {
    opacity: 1;
    transform: translate(0);
}
